<table class="table table-hover table-sm"">
<thead>
  <tr>
    <th style="width: 4%;" scope="col">#</th>
    <th style="width: 40%;" scope="col">User Name</th>
    <th style="width: 40%;" scope="col">Password</th>
    <th style="width: 15%;" scope="col">  OPs  </th>
  </tr>
</thead>
<tbody>

<!-- Those 'item.uid' are the 'uid' collumn cells in 'users' PG table  -->

  <tr>
    <% data.forEach((item, i) => { %>
      <th scope="row"><%=i+1%></th>
      <td><%=item.name%></td>
      <td><%=item.password%></td>
      <td> <button class="btn btn-sm btn-danger btn-rounded remove" id="<%=item.uid%>D">Delete</<button>
           <button class="btn btn-sm btn-info btn-rounded edit" id="<%=item.uid%>E">Edit</<button>
      </td>
  </tr>
  <% }) %>

</tbody>
</table>
